- return unless group.marked_for_deletion?
- date = permanent_deletion_date_formatted(group, group.marked_for_deletion_on)

= render Pajamas::CardComponent.new(header_options: { class: 'gl-px-5 gl-py-4 gl-border-b-1 gl-border-b-solid gl-border-gray-100' }, body_options: { class: 'gl-px-5 gl-py-4' }) do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-leading-24.gl-m-0= _('Restore group')

  - c.with_body do
    %p.gl-font-bold= _('This group has been scheduled for permanent deletion on %{date}') %{ date: date }
    %p
      = _("Restoring the group will prevent the group, its subgroups and projects from being deleted on this date.")
    %p
      = render Pajamas::ButtonComponent.new(method: :post, href: group_restore_path(group)) do
        = _('Restore group')
