- add_to_breadcrumbs _('Roles and Permissions'), admin_application_settings_roles_and_permissions_path
- page_title s_('MemberRole|Create role')

#js-create-member-role{ data: { list_page_path: admin_application_settings_roles_and_permissions_path } }
