- return if Feature.disabled?(:duo_enterprise_trials, current_user)

- namespace = local_assigns.fetch(:namespace)

- data = duo_enterprise_trial_alert_data(namespace)
- primary_cta = s_('BillingPlans|Start free trial of GitLab Ultimate and GitLab Duo Enterprise')
- ultimate_primary_cta = s_('BillingPlans|Start a free GitLab Duo Enterprise Trial')
- primary_link = namespace.ultimate_plan? ? new_trials_duo_enterprise_path : new_trial_path
- primary_tracking_label = namespace.ultimate_plan? ? 'duo_enterprise_trial' : 'ultimate_and_duo_enterprise_trial'

= render Pajamas::CardComponent.new(card_options: { data: { testid: 'duo-enterprise-trial-alert' },
  class: 'gl-border gl-border-blue-300 gl-bg-blue-50 gl-rounded-base gl-text-left gl-mt-6 gl-p-3' }) do |c|
  - c.with_body do
    .gl-text-size-h2.gl-font-bold
      = sprite_icon('tanuki-ai', css_class: 'gl-mr-2 !gl-align-baseline')
      = data[:title]
    .gl-mb-5
      - data[:body].map do |line|
        .gl-mt-3
          = line
    .gl-flex.gl-flex-wrap.gl-gap-3
      = render Pajamas::ButtonComponent.new(href: primary_link,
        variant: 'confirm',
        button_text_classes: '!gl-whitespace-normal',
        button_options: { class: 'gl-w-full sm:gl-w-auto',
        data: { event_tracking: 'click_duo_enterprise_trial_billing_page',
        event_label: primary_tracking_label } }) do
        = namespace.ultimate_plan? ? ultimate_primary_cta : primary_cta
      - if namespace.premium_plan?
        = render Pajamas::ButtonComponent.new(href: new_trials_duo_pro_path,
          category: 'secondary',
          variant: 'confirm',
          button_options: { class: 'gl-w-full sm:gl-w-auto',
          data: { event_tracking: 'click_duo_enterprise_trial_billing_page',
          event_label: 'duo_pro_trial' } }) do
          = s_('BillingPlans|Try GitLab Duo Pro')
      - else
        .js-hand-raise-lead-trigger{ data: duo_enterprise_trial_alert_hand_raise_lead_data }
